extends ../layouts/default

block content

  .cotainer-fluid
    .row
      .col-xs-8.col-xs-offset-2
        h1 Who are we?
        p.
          jkdnfakj fjdbv jbfv hbs dfkh b
          hadb kfdb jhbafb jadb la sdcl 
          jasdcv kjnsdbb kaucb jan dsc
          jhsc kljab l labvkbcldh ljkb 
    .row
      .col-xs-8.col-xs-offset-2
        h1 Where do we come from?
        P.
          LRFNGLWBRLFLVFBDJKNlliablunsd
          dkf ufjfhdb reuiafb hbr fbav jfdb
          kladb kjdbfahf ldkjbjhdfb hajfbv 
    .row
      .col-xs-8.col-xs-offset-2
        h1 Where are we going?
        p.
          bav;rfiaicafvarfrrr
          ewfBelwkfubarehf
          lewjFBLSHBAWUEBhljabD

