extends ../layouts/default

block content

  .cotainer-fluid
    .row
      .col-xs-8.col-xs-offset-2
        img.centered-img(src="images/ethicalbaymeetup3.jpg" style="margin: 50px auto" height="300px")
    .row
      .col-xs-8.col-xs-offset-2
        h1 What is fairmondo UK?
        p.
          Fair Mondo began life in Germany in 2012 as a cooperatively owned marketplace
          that would promote fair goods and services and “responsible consumption”.
          It is owned and run democratically by its members. 
          Fairmondo UK is a next step in building a global network of cooperative platforms for
          trading goods and services.  The UK platform is being built and promoted by Worth
          Cooperating until its launch as a multi-stakeholder cooperative based on a Somerset and Fairshares rules.

    .row
      .col-xs-8.col-xs-offset-2
        h1 Our Aims: 
        ul
          li To make it easy and affordable to “buy the good” - ethical goods and services.
          li To bring ethically committed sellers and customers together in one trusted, transparent marketplace.
          li To provide a wide and growing range of ethical goods and services.
          li The sellers, customers, workers, founders and investors cooperatively finance, own and control the business. 
          li To use a share of any surplus for social good.
          li To anchor the enterprise in West Yorkshire.

   .row
     .col-xs-8.col-xs-offset-2
       h1 Road Map
       p.
         Through 2015 and 2016 during the initiation and discovery phases we will be:
       p.
         Signing up potential members, sellers, customers, workers, investors.
         Concept testing.
       p.
         Assembling finance to build and launch the first trading site (crowdfunding, social share issue).
         Drafting the organisation structure and rules.
       p.
         Many hands make light the work - how much we get done and how fast hinges on people getting involved - that’s the cooperative way!
       p.
         Worth Cooperating is a workers coop formed to build and launch cooperative platforms - online enterprises where the effort, risks and the rewards are fairly shared by users: sellers, customers, workers, founders, investors.  We welcome new members to this cooperative with the time, talent and enthusiasm to build the future of the cooperative movement.


