extends ../layouts/default

block content

  .container-fluid
    .row
      .col-xs-8.col-xs-offset-2(style="padding-bottom:100px;")
        img(src='/images/FairmondoUKGreen.svg') 
        h2(style='text-align:center;') Eveything Ethical
        h2(style='text-align:center;') Ethical Everywhere
    .row(style="background-color:#6d9eeb")
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-4.col-xs-12
            img(src='images/circle.png' style='margin:0 auto; display:block;' width='200px')
            h3(style='text-align:center;') We The Workers
            p(style='text-align:center;') fairmondo is a marketplace, owned by its workers and the producers/consumers who trade through it.
          .col-sm-4.col-xs-12
            img(src='images/square.png' style='margin:0 auto; display:block;' width='200px')
            h3(style='text-align:center;') Do No Harm
            p(style='text-align:center;') production, distribution and exchange without harm to people, animals or planet
          .col-sm-4.col-xs-12
            img(src='images/triangle.png' style='margin:0 auto; display:block;' width='200px')
            h3(style='text-align:center;') Be Sustainable
            p(style='text-align:center;') production, distribution and exchange in harmony with eco-system resources.
            




