extends ../layouts/default

block content

  .container-fluid
    .row
      .col-xs-8.col-xs-offset-2(style="padding-bottom:100px;")
        img(src='/images/FairmondoUKGreen.svg') 
        h2(style='text-align:center;') The Ethical Marketplace 
    
    .row(style="background-color:#6d9eeb;padding: 50px 0")
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-4.col-xs-12
            img.centered-img(src='images/together.svg' width='200px')
          .col-sm-4.col-xs-12
            img.centered-img(src='images/doNoHarm.svg' width='300px')
          .col-sm-4.col-xs-12
            img.centered-img(src='images/heartsOnSleeves.svg' width='200px')
        .row
          .col-sm-4.col-xs-12
            h2(style='text-align:center;') Together 
            p(style='text-align:justify;font-size:1.3em;') Ethical Sellers, Goods and Customers all in one cooperatively owned and run marketplace, sharing the effort and sharing the rewards fairly. 
          .col-sm-4.col-xs-12
            h2(style='text-align:center;') Do No Harm 
            p(style='text-align:justify;font-size:1.3em;') The organisation, processes and systems we use to provision our needs and create wealth and happiness should “do no harm” to people, other living creatures or the planet. This will be our hardest journey. 
          .col-sm-4.col-xs-12
            h2(style='text-align:center;') Hearts On Sleeves
            p(style='text-align:justify;font-size:1.3em;') Sellers self-declare the ethical values that drive their business, goods and services. 



    .row(style='padding: 200px 0')
      

    .row(style="background-color:#e06666;padding: 50px 0")
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-4.col-xs-12
            img(src='images/circle.png' style='margin:0 auto; display:block;' width='200px')
            h2(style='text-align:center;') We The Workers
            p(style='text-align:center;font-size:1.5em;') fairmondo is a marketplace, owned by its workers and the producers/consumers who trade through it.
          .col-sm-4.col-xs-12
            img(src='images/square.png' style='margin:0 auto; display:block;' width='200px')
            h2(style='text-align:center;') Do No Harm
            p(style='text-align:center;font-size:1.5em;') production, distribution and exchange without harm to people, animals or planet
          .col-sm-4.col-xs-12
            img(src='images/triangle.png' style='margin:0 auto; display:block;' width='200px')
            h2(style='text-align:center;') Be Sustainable
            p(style='text-align:center;font-size:1.5em;') production, distribution and exchange in harmony with eco-system resources.
            




